.Border
{
	border-style: solid;
	border-color: black;
	border-width: 5px;
	padding: 2%;
	margin: 1%;
}

h3
{
	color: red;
	text-align: center
}

#RelativeLink
{
	font-size: 22px;
}

